<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Home</title>
    <script src="https://kit.fontawesome.com/a84aca7bf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header-desktop">
            <!-- se ve solo en talbet y desk -->
            <img class="img-desktop" src="/img/logo-mercado-liebre.svg" alt="">
            <div class="contendor-logo-search">
                <img class="img-mobile" src="/img/logo-mercado-liebre.svg" alt="">
                <div class="contenedor-search">
                    <input type="search" name="search" id="" value="Buscar productos">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="contenedor-nav">
            <nav class="menu">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="registro">
                <ul>
                    <li><a href="">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="">Mis compras</a><i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <img src="/img/img-home-banner.jpg" alt="">
        <section>
            <h1>Basado en tu última visita</h1>
            <div class="contenedor-vista-desktop">
            <div class="contenedor-vista-tablet">
            <article>
                <div class="contenedor-img">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                </div>
                <div class="contenedor-detalles">
                    <div class="precio">
                        <p>$6.770</p>
                        <p class="oferta">40% off</p>
                        <div>
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <div class="contenedor-img">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
                </div>
                <div class="contenedor-detalles">
                    <div class="precio">
                        <p>$230.000</p>
                        <p class="oferta">20% off</p>
                        <div>
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            </div>
            <div class="contenedor-vista-tablet">
            <article>
                <div class="contenedor-img">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                </div>
                <div class="contenedor-detalles">
                    <div class="precio">
                        <p>$70.500</p>
                        <p class="oferta">10% off</p>
                        <div>
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <div class="contenedor-img">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="tv samsung smart">
                </div>
                <div class="contenedor-detalles">
                    <div class="precio">
                        <p>$23.200</p>
                        <p class="oferta">5% off</p>
                        <div>
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
        </div>
        </div>
        </section>
        <section>
            <h2>Ofertas</h2>
            <div class="contenedor-vista-desktop">
            <div class="contenedor-vista-tablet">
            <article>
                <div class="contenedor-img">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                </div>
                <div class="contenedor-detalles">
                    <div class="precio">
                        <p>$6.770</p>
                        <p class="oferta">40% off</p>
                        <div>
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <div class="contenedor-img">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
                </div>
                <div class="contenedor-detalles">
                    <div class="precio">
                        <p>$230.000</p>
                        <p class="oferta">20% off</p>
                        <div>
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            </div>
            <div class="contenedor-vista-tablet">
            <article>
                <div class="contenedor-img">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                </div>
                <div class="contenedor-detalles">
                    <div class="precio">
                        <p>$70.500</p>
                        <p class="oferta">10% off</p>
                        <div>
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <div class="contenedor-img">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="tv samsung smart">
                </div>
                <div class="contenedor-detalles">
                    <div class="precio">
                        <p>$23.200</p>
                        <p class="oferta">5% off</p>
                        <div>
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
            </div>
            </div>
        </section>
    </main>

    <footer>
        <section class="seccion-metodos">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="seccion-metodos">
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="seccion-metodos">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>