<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Register</title>
    <script src="https://kit.fontawesome.com/a84aca7bf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header-desktop">
            <!-- se ve solo en talbet y desk -->
            <a href="/"><img class="img-desktop" src="/img/logo-mercado-liebre.svg" alt=""></a>
            <div class="contendor-logo-search">
                <img class="img-mobile" src="/img/logo-mercado-liebre.svg" alt="">
                <div class="contenedor-search">
                    <input type="search" name="search" id="" value="Buscar productos">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="contenedor-nav">
            <nav class="menu">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="registro">
                <ul>
                    <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="">Mis compras</a><i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main class="register">
        <h1>Registro de Usuario</h1>
        <form action="" method="post">
            <!-- datos nombre apellido mail -->
            <input class="datos" type="text" id="nombre-apellido" name="nombre-apellido" placeholder="Nombre y apellido" required>
            <input class="datos" type="text" id="nombre-usuario" name="nombre-usuario" placeholder="Nombre de usuario" required>
            <input class="datos" type="email" id="email" name="email" placeholder="E-mail" required>
            <!-- nacimiento -->
            <label class="titulo-label" for="fecha-nacimiento">Fecha de nacimiento:</label>
            <input class="nacimiento" type="date" id="fecha-nacimiento" name="fecha-nacimiento" required>

            <input class="domicilio" type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required>
    
            <label class="titulo-label" for="perfil-usuario">Perfil del usuario:</label>
            <div class="usuario">
                <input type="radio" id="comprar" name="perfil-usuario" value="comprar" required>
                <label for="comprar">Comprador</label>
                <input type="radio" id="vender" name="perfil-usuario" value="vender" required>
                <label for="vender">Vendedor</label>
            </div>
    
            <label class="titulo-label">Intereses:</label>
            <div class="intereses">
                <div class="interes">
                    <input class="opciones" type="checkbox" id="electro" name="categoria-interes" value="Electro">
                    <label for="electro">Electro</label>
                </div>
            
                <div class="interes">
                    <input class="opciones" type="checkbox" id="moda" name="categoria-interes" value="Moda">
                    <label for="moda">Moda</label>
                </div>
    
                <div class="interes">
                    <input class="opciones" type="checkbox" id="hogar" name="categoria-interes" value="Hogar">
                    <label for="hogar">Hogar</label>
                </div>
            
                <div class="interes">
                    <input class="opciones" type="checkbox" id="jugueteria" name="categoria-interes" value="Juguetería">
                    <label for="jugueteria">Juguetería</label>
                </div>
            
                <div class="interes">
                    <input class="opciones" type="checkbox" id="vida-sana" name="categoria-interes" value="Vida sana">
                    <label id="sana" for="vida-sana">Vida sana</label>
                </div>
            </div>
            <!-- foto usuario -->
            <label class="titulo-label" for="foto-usuario">Foto de usuario:</label>
            <input type="file" id="foto-usuario" name="foto-usuario" accept="image/*" required>
    
            <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
    
            <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" placeholder="Confirmar contraseña" required>
    
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
        </form>
    </main>

    <footer>
        <section class="seccion-metodos">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="seccion-metodos">
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="seccion-metodos">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>