<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{
        title:'Register'
    }) %>
<body>
    <%- include('./partials/header') %>

    <main class="register">
        <h1>Registro de Usuario</h1>
        <form action="" method="post">
            <!-- datos nombre apellido mail -->
            <input class="datos" type="text" id="nombre-apellido" name="nombre-apellido" placeholder="Nombre y apellido" required>
            <input class="datos" type="text" id="nombre-usuario" name="nombre-usuario" placeholder="Nombre de usuario" required>
            <input class="datos" type="email" id="email" name="email" placeholder="E-mail" required>
            <!-- nacimiento -->
            <label class="titulo-label" for="fecha-nacimiento">Fecha de nacimiento:</label>
            <input class="nacimiento" type="date" id="fecha-nacimiento" name="fecha-nacimiento" required>

            <input class="domicilio" type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required>
    
            <label class="titulo-label" for="perfil-usuario">Perfil del usuario:</label>
            <div class="usuario">
                <input type="radio" id="comprar" name="perfil-usuario" value="comprar" required>
                <label for="comprar">Comprador</label>
                <input type="radio" id="vender" name="perfil-usuario" value="vender" required>
                <label for="vender">Vendedor</label>
            </div>
    
            <label class="titulo-label">Intereses:</label>
            <div class="intereses">
                <div class="interes">
                    <input class="opciones" type="checkbox" id="electro" name="categoria-interes" value="Electro">
                    <label for="electro">Electro</label>
                </div>
            
                <div class="interes">
                    <input class="opciones" type="checkbox" id="moda" name="categoria-interes" value="Moda">
                    <label for="moda">Moda</label>
                </div>
    
                <div class="interes">
                    <input class="opciones" type="checkbox" id="hogar" name="categoria-interes" value="Hogar">
                    <label for="hogar">Hogar</label>
                </div>
            
                <div class="interes">
                    <input class="opciones" type="checkbox" id="jugueteria" name="categoria-interes" value="Juguetería">
                    <label for="jugueteria">Juguetería</label>
                </div>
            
                <div class="interes">
                    <input class="opciones" type="checkbox" id="vida-sana" name="categoria-interes" value="Vida sana">
                    <label id="sana" for="vida-sana">Vida sana</label>
                </div>
            </div>
            <!-- foto usuario -->
            <label class="titulo-label" for="foto-usuario">Foto de usuario:</label>
            <input type="file" id="foto-usuario" name="foto-usuario" accept="image/*" required>
    
            <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
    
            <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" placeholder="Confirmar contraseña" required>
    
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
        </form>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>