<header>
    <div class="header-desktop">
        <!-- se ve solo en talbet y desk -->
        <a href="/"><img class="img-desktop" src="/img/logo-mercado-liebre.svg" alt=""></a>
        <div class="contendor-logo-search">
            <a href="/"><img class="img-mobile" src="/img/logo-mercado-liebre.svg" alt=""></a>
            <div class="contenedor-search">
                <input type="search" name="search" id="" value="Buscar productos">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <div class="contenedor-nav">
        <nav class="menu">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="registro">
            <ul>
                <li><a href="/users/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/users/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compras</a><i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </div>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>